@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IThemeManager ThemeManager
@{
    Layout = await ThemeManager.GetCurrentAccountLayoutAsync();
}
<div class="abp-account-container">
    @RenderBody()
</div>